body{
    background-color:#FDFCDC;
}
.textsize{
    font-size:20px;
}
.font{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.indextext{
    text-align: center;
    font-size: 30px;
    color: black;
}
.recipeimage{
    height: auto;
    width: 400px;
}
.recipetext